/* ===========================
===========Flexbox=============
============================ */

@media (min-width: 769px) {
    .container,
    .main-nav {
        display: flex;
        justify-content: space-between;
        height: 64px;
        align-items: center;
    }
    
    .main-nav {
        flex-direction: row;
        flex-grow: .1;
    }
    
    }
