/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
a {
	color: #093a58;
}

h2 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
}

.name,
.main-nav li {
	text-align: center;
	background: #fff;
	margin-right: 20px;
	margin-left: 20px;
	/* margin-top: 6px;
	margin-bottom: 6px; */
}

.name a,
.main-nav a {
	text-align: center;
	/* padding: 10px 15px;
	display: block; */
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
	font-weight: bold;
}

.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */

.container {
	padding-left: 1em;
	padding-right: 1em;
	margin: auto;
}

.banner {
	color: #fff;
	background: #3acec2;
	text-align: center;
	padding: 40px;
}

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	text-align: center;
}

.content {
	padding: 1em;
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
}

.headline {
	margin-bottom: 0;
}

.icon-location {
	position: absolute;
	width: 35px;
	top: -15px;
	right: -15px;
}
/* -----Dropdown the menu----- */
.dropbtn {
	border: none;
	cursor: pointer;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 220px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 12px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
	display: block;
  }

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	/* ---- Navigation ---- */
 
	body {
		padding-top: 64px;
	}

	.main-header {
		position: fixed;
		background-color: #fff;
		box-shadow: 0 1px 4px rgb(0,0,0, .4);
		width: 100%;
		top: 0;
		z-index: 1;
	}

	.wrap {
		min-height: calc(100vh - 89px);
	}

}

@media (min-width: 1025px) {
	.container {
		width: 80%;
		max-width: 1150px;
	}

}